#register_form {
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid white;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    margin-top: 25px;
    margin-bottom: 25px;
}

#register_container {
    padding: 16px;
}

#register_title {
    text-align: center;
}

#register_form input[type=text],
#register_form input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#register_form button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#register_form button:hover {
    opacity: 0.8;
}